hf-timegrid::part(toolbar) {
    size: 1rem;
}

hf-timegrid::part(header) {
    font-size: 0.9em;
    background-color: transparent;
    display: flex;
    align-items: center;
  
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #efefef;

    height: 40px;
   
    --bottom-border: 0px;
    --time-grid-vertical-border: 0px;
    --grid-horizontal-border: 0px;
    --grid-vertical-border: 1px solid red;
    --grid-vertical-group-border: 0;
    /* --grid-vertical-right-border: 1px solid #ccc; */
}

hf-timegrid::part(body) {
    /* --color: blue; */
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    --time-indicator-color: red;
    --time-horizontal-border: transparent;
    --time-grid-vertical-border: transparent;
    --grid-horizontal-border: 1px solid #efefef;
    --grid-vertical-border: 1px solid #efefef;
    -ms-overflow-style: none;
    scrollbar-width: 0;
}
hf-timegrid::part(body)::-webkit-scrollbar {
    display: none;
}
hf-timegrid::part(body-time) {
    border-right: 1px solid #efefef;
    outline: white;
}

hf-timegrid::part(header-date-day-today), hf-timegrid::part(header-date-name-today) {
    --mindset-colour: red;
    color: var(--mindset-colour)!important;
}
.timegrid-header-time-cell {
    border-bottom: none;
}

hf-timegrid::part(header-date-day-0), 
hf-timegrid::part(header-date-name-0),
hf-timegrid::part(header-date-day-6),
hf-timegrid::part(header-date-name-6) {
    color: darkgray;
}