@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Task table */

table.task-table {
  border-spacing: 0 6px;
  border-collapse: separate;
}
table.task-table th {
  @apply pb-2 px-4 font-medium text-left text-sm;
}
table.task-table td {
  @apply p-4 text-white text-left;
}
table.task-table td:first-child {
  @apply rounded-tl-lg rounded-bl-lg;
}
table.task-table td:last-child {
  @apply rounded-tr-lg rounded-br-lg;
}


/* Input and forms */

input[type="radio"]:checked ~ .peer-checked, 
input[type="checkbox"]:checked ~ .peer-checked {
  /* Apply your 'selected' styles as needed (colors from existing classes) */
  background-color: var(--tw-bg-opacity); 
  color: var(--tw-text-opacity);  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

input:focus, input:focus-visible, select:focus {
  --tw-ring-color: none!important;
  --tw-ring-shadow: none!important;
  /* border-color: inherit!important; */
  outline: none;
}

.formKeysColumn {
  @apply w-1/3 text-left max-w-[100px];
}
.formValuesColumn {
  @apply w-full;
}

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input.no-arrows::-webkit-outer-spin-button,
input.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  width: 0;
}
/* Firefox */
input[type=number].no-arrows {
  -moz-appearance: textfield;
}
input[type=date]:invalid::-webkit-datetime-edit {
  color: #999;
}
input::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}
input::-ms-input-placeholder { /* Edge 12 -18 */
  color: red;
}

rect {
  fill: cyan;
}


/* Links */

.menu-link {
  @apply hover:bg-white/50 rounded-lg px-2 py-1;
}


/* Tiptap markdown text editor */

.tiptap:focus-visible {
  @apply border-none outline-none;
}

.tiptap {

  ul, ol {
    padding: 0 1rem;

    li {
      display: list-item;
      list-style-type: disc;
    }
  }

  h3 {
    @apply pt-2;
  }

  > * + * {
    margin-top: 0.3em;
  }

  ul[data-type="taskList"] {
    list-style: none;
    padding: 0;
  
    li {
      display: flex;
      align-items: center;
  
      > label {
        flex: 0 0 auto;
        margin-right: 0.5rem;
        user-select: none;
      }
  
      > div {
        flex: 1 1 auto;
      }
    }

    input[type="checkbox"] {
      cursor: pointer;
      background-color: transparent;
      border-color: white;
      color: white;
      border-radius: 24px;
    }
    
  }

  .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  p.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  
  
}

.task-card {
  .tiptap input[type="checkbox"] {
    cursor: pointer;
    background-color: transparent;
    border-color: black!important;
    color: black!important;
    border-radius: 24px;
  }

  .notesEditor-toolbar-button {
    @apply: !border-black;
  }
}

.divider {
  @apply h-[0.5px] w-full border-b-[0.5px];
}

.remove-default-focus {
  @apply: focus-visible:!border-none focus-visible:!outline-none focus:!ring-transparent;
}