input[type="radio"]:checked ~ .peer-checked, 
input[type="checkbox"]:checked ~ .peer-checked {
  /* Apply your 'selected' styles as needed (colors from existing classes) */
  background-color: var(--tw-bg-opacity); 
  color: var(--tw-text-opacity);  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}